.footerDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* background-color: aquamarine; */
  padding-bottom: 30px;
}

.footerHeading {
  font-family: roboto;
  text-align: center;
  color: rgba(0, 0, 0, 1);
}

@media screen and (max-width: 768px) {
  .footerHeading {
    font-size: 14px;
  }
}

.footerParagraph {
  font-family: roboto;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  margin-top: 0px;
}

.bottomDetails {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 0px;
}

.bottomPara {
  font-family: roboto;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  margin-right: 5px;
  font-weight: 420;
}

@media screen and (max-width: 768px) {
  .bottomPara {
    font-size: 8px;
  }
}
